@import url('../standard/style.css');
/*
Theme Name: Blank Canvas Child Theme
Theme URI: https://github.com/eightbit/standard-child-theme-kit
Version: 3.0.2
Description: This is a child theme kit for Standard 3.
Author: Jason Bradley
Author URI: http://everchangingmedia.com
Author Email: jason.bradley@me.com
License: GNU General Public License v3.0 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: standard
*/
/* Import Standard Styles
---------------------------------------------------------------------------------- */
/* To use child theme on your site */
/* Comment out this line below */
/* And uncomment this line below */
/* @import url( '../standard/style.css' ); */
/* uncomment the line below to enable child theme right-to-left language support */
/* @import url( '../standard/rtl.css' ); */
/* Customizations
---------------------------------------------------------------------------------- */
/* Body
---------------------------------------------------------------------------------- */
body {
  background-color: #ffffff;
}
a {
  color: #3088ff;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
a:hover {
  color: #ff0000;
}
/* Naviagation
---------------------------------------------------------------------------------- */
#menu-above-header .navbar-inner,
#menu-above-header .navbar .fill {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#menu-above-header .nav > li > a {
  padding: 4px 10px 4px;
  font-size: 0.9em;
}
#menu-above-header .nav > li > a:hover {
  background: #555555;
  color: #999999;
}
#menu-above-header .nav > .active > a {
  background: #ffffff;
  color: #000000;
}
#menu-above-header .social-icons > li {
  margin: 5px 0 5px 12px;
}
#menu-under-header .navbar-inner,
#menu-under-header .navbar .fill {
  background: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#menu-under-header .container {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='@startColor', EndColorStr='@endColor');
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
}
#menu-under-header .nav li > a {
  font-weight: 300;
  font-size: 14px;
  color: #999999;
  border-right: 1px solid #e6e6e6;
  text-shadow: none;
  padding: 10px 14px;
}
#menu-under-header .nav li > a:hover {
  background: #f5f5f5;
  color: #3088ff;
}
#menu-under-header .nav li:first-child {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  margin-left: 10px;
}
#menu-under-header .nav .active > a {
  background: #ffffff;
  color: #3088ff;
}
#menu-under-header .nav .current_page_item {
  background: #ffffff;
}
#menu-under-header .nav .current_page_item a {
  color: #3088ff;
}
#menu-under-header .social-icons {
  margin-right: 0px;
}
#menu-under-header .social-icons > li {
  margin: 0px;
}
#menu-under-header .social-icons > li:first-child {
  padding-left: 0px;
}
#menu-under-header .social-icons > li:last-child {
  margin-right: 10px;
}
#menu-under-header .social-icons > li a {
  border-left: 1px solid #e6e6e6;
  border-right: none;
}
/* Header
---------------------------------------------------------------------------------- */
#hgroup {
  padding: 45px 0;
}
#site-title,
#site-title a {
  margin-bottom: 5px;
  font-size: 40px;
}
#site-title:hover,
#site-title a:hover {
  text-decoration: underline;
}
#site-description {
  color: #999999;
  font-weight: 300;
}
/* Posts
---------------------------------------------------------------------------------- */
#wrapper {
  padding: 20px 0 0;
}
.post,
#comments,
#pings,
#no-comments,
#respond {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.post-title a,
.post-title a:visited {
  color: #333333;
  font-size: 28px;
}
.post-title a:hover,
.post-title a:visited:hover {
  color: #333333;
  text-decoration: underline;
}
.post .entry-content,
.post .entry-summary {
  padding: 0px;
}
.page .post .entry-content,
.page .post .entry-summary {
  padding: 0px 20px;
}
.post p {
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.post-header {
  border-bottom: none;
}
.post-header-meta {
  border-bottom: none;
  margin: 0 0 20px 0;
}
.post-header-meta a {
  font-weight: bold;
  color: #999999;
}
.post-header-meta a:hover {
  color: #ff0000;
}
.thumbnail.alignleft {
  margin: 0 20px 0px 0;
}
.post-meta {
  border-top: none;
  font-weight: 300;
  padding: 20px 0;
}
.post-meta .the-comment-link {
  padding-left: 6px;
}
.post-meta .the-comment-link a {
  padding-left: 6px;
}
.breadcrumb {
  background: none;
  background-image: none;
  border: none;
}
/* Post Format Link
---------------------------------------------------------------------------------- */
.post.format-link .the-comment-link,
.post.format-quote .the-comment-link {
  float: none;
}
/* Sidebar
---------------------------------------------------------------------------------- */
/* Widgets
---------------------------------------------------------------------------------- */
.widget .widget h4.widget-title {
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.widget ul li a {
  color: #3088ff;
}
.widget ul li a:hover {
  color: #ff0000;
}
.tabbed-widget .tab-content {
  border-top: 1px solid #e6e6e6;
}
.tabbed-widget .nav-tabs > li > a {
  background: none;
  background-image: none;
  border: none;
}
.tabbed-widget .nav-tabs > li.active > a {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  margin-bottom: -1px;
}
/* Footer
---------------------------------------------------------------------------------- */
#footer {
  background: none;
}
#footer #footer-widgets .container {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}
#footer #footer-widgets .container .row .span3 {
  margin-top: 20px;
}
#footer #footer-widgets .widget h4.widget-title {
  border-bottom: 1px solid #e6e6e6;
  font-weight: 300;
}
#footer #sub-floor {
  background: none;
}
#footer #sub-floor #credit {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #999999;
}
#footer #sub-floor #credit a {
  color: #3088ff;
}
#footer #sub-floor #credit a:hover {
  color: #ff0000;
  text-decoration: underline;
}
#footer #sub-floor #footer-links {
  float: right;
}
#footer #sub-floor #footer-links ul li a {
  text-shadow: none;
  color: #3088ff;
}
#footer #sub-floor #footer-links ul li a:hover {
  color: #ff0000;
  text-decoration: underline;
}
/* Media Queries
---------------------------------------------------------------------------------- */
/* Smartphones */
@media (max-width: 480px) {
  .meta-date-cat-tags {
    float: left;
  }
  #footer #sub-floor #footer-links {
    float: none;
    text-align: center;
  }
  #menu-footer-menu {
    padding-top: 40px;
  }
  #wrapper {
    padding: 10px 0 0;
  }
  #menu-under-header {
    margin-top: 10px;
  }
  #sidebar {
    border-top: 1px solid #e6e6e6;
  }
}
/* Tablet & Mobile */
@media (max-width: 979px) {
  #menu-under-header .container {
    background: none;
    background-image: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  #menu-under-header .btn-navbar {
    background: none;
    background-image: none;
    border: none;
  }
  #menu-under-header .btn-navbar .icon-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #666666;
  }
  #menu-under-header .nav li:first-child {
    padding-left: 0px;
  }
  #menu-under-header .social-icons {
    margin-right: 0px;
  }
  #menu-under-header .social-icons > li a {
    border-left: none;
    padding: 10px 6px;
  }
  #hgroup {
    padding: 0;
  }
  .post .entry-content,
  .post .entry-summary {
    padding: 0px 20px;
  }
  #footer-widgets {
    padding: 0px 20px;
  }
  #footer #sub-floor #footer-links ul li a {
    color: #3088ff;
  }
  #footer #sub-floor #footer-links ul li a:hover {
    color: #ff0000;
    background: none;
  }
}
/* Mobile to Tablet */
@media only screen and (max-width: 767px) {

}
/* Landscape Tablets */
@media (min-width: 768px) and (max-width: 979px) {
  #main.span8 {
    margin-right: -1px;
    border-right: 1px solid #e6e6e6;
  }
  #main.span8 > div {
    margin-right: 20px;
  }
}
/* Desktop */
@media (min-width: 980px) {
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 980px;
  }
  #menu-under-header {
    margin-bottom: 20px;
  }
  .navbar-inner,
  .navbar .fill {
    height: 27px;
  }
  #main.span8 {
    margin-right: -1px;
    border-right: 1px solid #e6e6e6;
  }
  #main.span8 > div {
    margin-right: 20px;
  }
}
/* Gloriously Wide */@media (min-width: 1200px) {
  .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    margin-left: 30px;
  }
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1230px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 130px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.564102564%;
    *margin-left: 2.510911074638298%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.45299145300001%;
    *width: 91.3997999636383%;
  }
  .row-fluid .span10 {
    width: 82.905982906%;
    *width: 82.8527914166383%;
  }
  .row-fluid .span9 {
    width: 74.358974359%;
    *width: 74.30578286963829%;
  }
  .row-fluid .span8 {
    width: 65.81196581200001%;
    *width: 65.7587743226383%;
  }
  .row-fluid .span7 {
    width: 57.264957265%;
    *width: 57.2117657756383%;
  }
  .row-fluid .span6 {
    width: 48.717948718%;
    *width: 48.6647572286383%;
  }
  .row-fluid .span5 {
    width: 40.170940171000005%;
    *width: 40.117748681638304%;
  }
  .row-fluid .span4 {
    width: 31.623931624%;
    *width: 31.5707401346383%;
  }
  .row-fluid .span3 {
    width: 23.076923077%;
    *width: 23.0237315876383%;
  }
  .row-fluid .span2 {
    width: 14.529914530000001%;
    *width: 14.4767230406383%;
  }
  .row-fluid .span1 {
    width: 5.982905983%;
    *width: 5.929714493638298%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 1160px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 1060px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 960px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 860px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 760px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 660px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 560px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 460px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 360px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 260px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 160px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 60px;
  }
}
